{% load widget_tweaks %}
<div class="d-flex">
  <h3>Resumen del ticket</h3>
</div>
{%for item in items%}
<div class="d-flex">
  <div class="">
    {{item.qty}} x {{item.element.get_item_type_display}} {{item.element.name}} {{item.element.item_class}}-{{item.element.size}}, {{item.price}}€
  </div>
  <div class="ml-auto">
    {{item.subtotal}}€
  </div>
</div>
{%endfor%}
<div class="d-flex justify-content-end">
  <strong>Total:</strong>&nbsp;{{total.total}}€
</div>
<div class="d-flex align-items-center">
  <div class="form-group">
    {{ form.pay_method.label_tag }}
    {% render_field form.pay_method class="form-control" %}
    {% if form.pay_method.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
  </div>
  {%if order.customer.cp == 0%}
  <div class="form-group ml-auto">
    <label for="cp_id">CP</label>
    <input type="number" class="form-control" name="cp" id="cp_id" maxlength="5" step="1">
  </div>
  {%else%}
  <div class="ml-auto">
    Facturando a CP {{order.customer.cp}}
  </div>
  {%endif%}
</div>
<small>Ojo, facturar es una acción que no se puede deshacer, así que asegúrate de que todo está correcto</small>
