<p><strong>Prenda seleccionada:</strong> {{item}}</p>
<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label for="item-qty">Cantidad</label>
      <input type="number" class="form-control ml-auto" name="item-qty" id="item-qty" value="1">
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label for="custom-price">Precio especial</label>
      <input type="number" class="form-control ml-auto" name="custom-price" id="custom-price" value=0 step="0.01">
    </div>
  </div>
  <div class="col-6 p-auto">

  </div>
</div>
<div class="d-flex ml-4">
  <div class="form-check">
    <input type="checkbox" name="set-default-price" class="form-check-input" id="set-deafult-price">
    <label for="set-default-price">Asigna este precio a la prenda genérica</label>
  </div>
</div>
<input type="hidden" name="order-pk" value="{{order_pk}}">
<input type="hidden" name="item-pk" value="{{item.pk}}">
