{% load widget_tweaks %}

<div class="form-group">
  {{ form.customer.label_tag }}
  {% render_field form.customer class="form-control" %}
</div>

<div class="form-group">
  {{ form.ref_name.label_tag }}
  {% render_field form.ref_name class="form-control" %}
</div>

<div class="form-group">
  {{ form.delivery.label_tag }}
  <input type="date" class="form-control" name="{{ form.delivery.name }}" id="{{ form.delivery.id_for_label }}" {% if form.delivery.value != None %} value="{{ form.delivery.value|stringformat:'s' }}" {% endif %}>
</div>

<div class="form-group">
  <div class="row">
    <div class="col">
      {{ form.waist.label_tag }}
      {% render_field form.waist class="form-control" %}
    </div>
    <div class="col">
      {{ form.chest.label_tag }}
      {% render_field form.chest class="form-control" %}
    </div>
    <div class="col">
      {{ form.hip.label_tag }}
      {% render_field form.hip class="form-control" %}
    </div>

    <div class="col">
      {{ form.lenght.label_tag }}
      {% render_field form.lenght class="form-control" %}
    </div>
  </div>
</div>

<div class="form-group">
  {{ form.others.label_tag }}
  {% render_field form.others class="form-control" %}
</div>

<div class="form-group">
  <div class="row">
    <div class="col">
      {{ form.budget.label_tag }}
      {% render_field form.budget class="form-control" %}
    </div>
    <div class="col">
      {{ form.prepaid.label_tag }}
      {% render_field form.prepaid class="form-control" %}
    </div>
  </div>
</div>
