{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'tz/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-j8y0ITrvFafF4EkV1mPW0BKm6dp3c+J9Fky22Man50Ofxo2wNe5pT1oZejDH9/Dt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tz/css/style.css' %}">
  </head>
  <body>
    <header class="fixed-top">
      <div class="container">
        <div class="d-flex">
          <div class="mx-auto">
            <a href="{% url 'main' %}"><h1 class="intro_text">Trapu Zarrak App</h1></a>
          </div>
        </div>
        <div class="d-flex justify-content-end align-items-center pb-1">
          <span class="pr-3">
            <i class="far fa-user"></i>
            <strong>Usuaria:</strong> {{user}}
          </span>
          <span class="pr-3"><i class="far fa-clock"></i> {{ now|date:"d/m" }}; {{ now|time:"H:i" }}</span>
            <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#changelog-modal"><i class="fas fa-cogs"></i> tz app {{version}}</button>
        </div>
      </div>
      <div class="d-md-none menu">
        <a href="#sidebar" data-toggle="collapse">
          <i class="fa fa-3x fa-bars"></i>
        </a>
      </div>
    </header>

    <!-- Mobile menu -->
    <div class="collapse bg-light aside-narrow" id="sidebar">
      <!-- define -->
    </div>

    <div class="container-fluid">
      <div class="row">

        <!-- PC menu -->
        <div class="d-none d-lg-block col aside-wide bg-light">
          <nav class="nav d-flex flex-column align-items-end mt-4">
            <a class="nav-item nav-link" href="{% url 'main' %}" id="sidebar-home">
              <i class="fa fa-fw fa-home pr-2"></i> Inicio</a>
            <a class="nav-item nav-link" href="{% url 'customerlist' %}" id="sidebar-customers">
              <i class="fa fa-fw fa-search pr-2"></i> Clientes</a>
            <a class="nav-item nav-link" href="{% url 'orderlist' orderby='date' %}" id="sidebar-orders">
              <i class="fa fa-fw fa-list pr-2"></i> Pedidos</a>
            <a class="nav-item nav-link js-customer-add" href="#" data-action="customer-add" data-pk="0" id="sidebar-new-customer">
              <i class="fa fa-fw fa-user pr-2"></i> Nuevo cliente</a>
            <a class="nav-item nav-link js-order-add" href="#" data-action="order-add" data-pk="0" id="sidebar-new-order">
              <i class="fa fa-fw fa-plus pr-2"></i> Nuevo pedido</a>
            <a class="nav-item nav-link" href="{% url 'itemslist' %}" id="sidebar-items">
              <i class="fa fa-fw fa-cube pr-2"></i> Editor de prendas</a>
            <a class="nav-item nav-link js-logout" data-action="logout" data-pk="0" id="sidebar-logout">
              <i class="fas fa-fw fa-sign-out-alt pr-2"></i> Cerrar sesión</a>
          </nav>
        </div>

        <div class="col-md-8 col-sm-12 mb-5" id="root">
          {% block homeview %}{% endblock %}
          {% block orderview %}{% endblock %}
          {% block customerview %}{% endblock %}
          {% block orders %}{% endblock %}
          {% block listview %}{% endblock %}
        </div>
        <div class="col-md-1">
        </div>
      </div>

    <!-- Action Modal -->
      <div class="modal fade" id="action-modal">
        <div class="modal-dialog">
          <div class="modal-content">
          </div>
        </div>
      </div>

    <!-- Changelog modal -->
      <div class="modal fade" id="changelog-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">{{modal_title}}</h4>
            </div>
            <div class="modal-body" id="md-content">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      {% if footer %}
      <footer class="d-block d-sm-none">
        <div class="fixed-bottom">
          <button class="m-3 add_new"><i class="fa fa-plus fa-2x"></i></button>
        </div>
      </footer>
      {% endif %}
    <script src="{% static 'tz/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'tz/js/popper.min.js' %}"></script>
    <script src="{% static 'tz/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'tz/js/order_actions.js' %}"></script>
    <script src="{% static 'tz/js/custom.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    </div>
  </body>
</html>
