{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'tz/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tz/css/style.css' %}">
  </head>
  <body>
    <header class="fixed-top">
      <div class="container-fluid">
        <div class="d-flex justify-content-between mt-1 py-sm-2">
          <div class="d-none d-md-block">
            <a href="{% url 'main' %}"><h1 class="intro_text">Trapu Zarrak App</h1></a>
          </div>
          <div class="d-flex align-items-center">
            <span class="pr-3">
              <i class="far fa-user"></i>
              <strong>Usuaria:</strong> {{user}}
            </span>
            <span class="pr-3"><i class="far fa-clock"></i> {{ now|date:"d/m" }}; {{ now|time:"H:i" }}</span>
              <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#changelog-modal"><i class="fas fa-cogs"></i> tz app {{version}}</button>
          </div>
        </div>
      </div>
    </header>

    <!-- Mobile menu -->
    <div class="collapse bg-light aside-narrow" id="sidebar">
      <!-- define -->
    </div>

    <div class="container-fluid mt-2" id="root">
      <div class="row">

        <!-- PC menu -->
        <div class="d-none d-lg-block col aside-wide bg-light">
          <nav class="nav d-flex flex-column align-items-end">
            <a class="nav-item nav-link" href="{% url 'main' %}" id="sidebar-home">
              <i class="fa fa-fw fa-home pr-2"></i> Inicio</a>
            <a class="nav-item nav-link" href="{% url 'customerlist' %}" id="sidebar-customers">
              <i class="fa fa-fw fa-search pr-2"></i> Clientes</a>
            <a class="nav-item nav-link" href="{% url 'orderlist' orderby='date' %}" id="sidebar-orders">
              <i class="fa fa-fw fa-list pr-2"></i> Pedidos</a>
            <a class="nav-item nav-link js-crud-add" href="#" data-action="customer-add" data-pk="0" id="sidebar-new-customer">
              <i class="fa fa-fw fa-user pr-2"></i> Nuevo cliente</a>
            <a class="nav-item nav-link js-crud-add" href="#" data-action="order-add" data-pk="0" id="sidebar-new-order">
              <i class="fa fa-fw fa-plus pr-2"></i> Nuevo pedido
            </a>
            <a class="nav-item nav-link js-crud-add" href="#" data-action="order-express-add" data-pk="0" id="sidebar-new-order-express">
              <i class="far fa-cash-register pr-2"></i> Nueva venta
            </a>
            <a class="nav-item nav-link" href="{% url 'invoiceslist' %}" id="sidebar-invoices-list">
              <i class="far fa-history pr-2"></i> Últimas facturas
            </a>
            <a class="nav-item nav-link" href="{% url 'itemslist' %}" id="sidebar-items">
              <i class="fa fa-fw fa-cube pr-2"></i> Editor de prendas</a>
            <a class="nav-item nav-link" href="{% url 'pqueue_manager' %}" id="sidebar-pqueue">
              <i class="far fa-fw fa-clipboard-list-check pr-2"></i> Cola de producción</a>
            <a class="nav-item nav-link js-logout" data-action="logout" data-pk="0" id="sidebar-logout">
              <i class="fas fa-fw fa-sign-out-alt pr-2"></i> Cerrar sesión</a>
          </nav>
        </div>

        <div class="col-lg-10 col-md-10 col-sm-12 mb-5 pt-5">
          {% block homeview %}{% endblock %}
          {% block orderview %}{% endblock %}
          {% block orderexpress %}{% endblock %}
          {% block customerview %}{% endblock %}
          {% block pqueueview %}{% endblock %}
          {% block orders %}{% endblock %}
          {% block listview %}{% endblock %}
          {% block invoices %}{% endblock %}
        </div>
      </div>

    <!-- Action Modal -->
      <div class="modal fade" id="action-modal">
        <div class="modal-dialog">
          <div class="modal-content">
          </div>
        </div>
      </div>

    <!-- Changelog modal -->
      <div class="modal fade" id="changelog-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{modal_title}}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body" id="md-content">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      {% if footer %}
      <footer class="d-block d-sm-none">
        <div class="fixed-bottom">
          <button class="m-3 add_new"><i class="fa fa-plus fa-2x"></i></button>
        </div>
      </footer>
      {% endif %}
    <script src="{% static 'tz/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'tz/js/popper.min.js' %}"></script>
    <script src="{% static 'tz/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'tz/js/order_actions.js' %}"></script>
    <script src="{% static 'tz/js/custom.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    </div>
  </body>
</html>
