{% load static %}
<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'tz/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tz/css/style.css' %}">
  </head>
  <body id="root">
    <nav class="navbar navbar-expand-lg sticky-top navbar-light top_bar">
      <a class="navbar-brand" href="{% url 'main' %}">
        <img src="{% static 'tz/img/tz_logo.svg' %}" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-menu" aria-controls="top-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="top-menu">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'admin:index'%}"><i class="far fa-user-ninja pr-1"></i>Admin</a>
          </li>
          {%endif%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main' %}"><i class="far fa-home pr-1"></i>Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'customerlist' %}"><i class="far fa-users pr-1"></i>Clientes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="orders-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-dolly pr-1"></i>Pedidos
            </a>
            <div class="dropdown-menu" aria-labelledby="orders-dropdown">
              <a class="dropdown-item" href="{% url 'kanban' %}"><i class="fal fa-list fa-fw"></i> Lista de pedidos</a>
              <a class="dropdown-item" href="{% url 'itemslist' %}"><i class="fal fa-tshirt fa-fw"></i> Editor de prendas</a>
              <a class="dropdown-item" href="{% url 'pqueue_manager' %}"><i class="fal fa-fw fa-clipboard-list-check"></i> Cola de producción</a>
              <a class="dropdown-item js-crud-add" href="#" data-action="order-add" data-pk="0"><i class="fal fa-fw fa-plus"></i> Nuevo pedido</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="sales-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-cash-register pr-1"></i>Ventas
            </a>
            <div class="dropdown-menu" aria-labelledby="sales-dropdown">
              <a class="dropdown-item js-crud-add" href="#" data-action="order-express-add" data-pk="0"><i class="fal fa-fw fa-plus"></i> Nueva venta express</a>
              <a class="dropdown-item" href="{% url 'invoiceslist' %}"><i class="fal fa-fw fa-chart-line"></i> Facturación & banco</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'add_hours' %}"><i class="far fa-user pr-2"></i>{{user}}</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-sm btn-success nav-link" type="button" data-toggle="modal" data-target="#changelog-modal"><i class="fas fa-cogs"></i> tz app {{version}}</button>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      {% block homeview %}{% endblock %}
      {% block orderview %}{% endblock %}
      {% block orderexpress %}{% endblock %}
      {% block customerview %}{% endblock %}
      {% block pqueueview %}{% endblock %}
      {% block orders %}{% endblock %}
      {% block kanban %}{% endblock %}
      {% block listview %}{% endblock %}
      {% block invoices %}{% endblock %}
      {% block pqueuetablet %}{% endblock %}
    </div>

    <!-- Action Modal -->
      <div class="modal fade" id="action-modal">
        <div class="modal-dialog">
          <div class="modal-content">
          </div>
        </div>
      </div>

    <!-- Changelog modal -->
      <div class="modal fade" id="changelog-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{modal_title}}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body" id="md-content">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      {% if footer %}
      <footer class="d-block d-sm-none">
        <div class="fixed-bottom">
          <button class="m-3 add_new"><i class="fa fa-plus fa-2x"></i></button>
        </div>
      </footer>
      {% endif %}
    <script src="{% static 'tz/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'tz/js/popper.min.js' %}"></script>
    <script src="{% static 'tz/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'tz/js/order_actions.js' %}"></script>
    <script src="{% static 'tz/js/custom.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    </div>
  </body>
</html>
