{% extends "tz/base.html" %}
{% block customerview %}
<section id="order_detail" class="f-section">
  <div class="container">
    <div class="row mb-4">
      <div class="d-flex-column mr-auto">
        <h3 class="font-weight-bold">Cliente no.{{ customer.pk }}</h3>
        <h4 class="mr-auto">Creado el {{customer.creation | date:"j/n/Y"}}</h4>
      </div>
      <div class="d-flex">
        <a href="{% url 'customer_edit' pk=customer.pk %}">
          <button class="btn btn-outline-success btn-lg"><i class="fa fa-edit"></i> Modificar Cliente</button>
        </a>
      </div>
    </div>
    <div class="d-flex mt-4 order_header">
      <h4 class="mr-auto">
          <strong>Nombre: </strong>{{customer.name}}
      </h4>
      <h4><strong>Pedidos:</strong> {{customer.orders_made}}</h4>
    </div>
    <div class="card mt-4">
      <h4 class="card-header font-weight-bold">Detalles:</h4>
      <div class="card-body">
        <ul class="order_details">
          <li>Dirección:
            {{customer.address}},
            {% if customer.cp %}{{customer.cp}}{% else %}No definido{% endif %},
            {% if customer.city %}{{customer.city}}{% else %}No definido{% endif %},
          </li>
          <li>Telefono: <a href="tel:{{customer.phone}}">{{customer.phone}}</a></li>
          <li>Email: <a href="mailto:{{customer.email}}">{{customer.email}}</a></li>
          <li>Notificaciones: {% if customer.notif %}Sí{% else %}No{% endif %}</li>
        </ul>
      </div>
    </div>
    <div class="card mt-4">
      <h4 class="card-header font-weight-bold">Pedidos:</h4>
      <div class="card-body">
        <ul class="order_details">
            <p class="font-weight-bold mb-0">Activos:</p>
          {% if orders_active %}
            {% for order in orders_active %}
            <li>
              {{order.ref_name}}: entrega el {{order.delivery | date:"j/n/Y"}}
              {% if order.overdue %}<i class="fa fa-warning text-danger pl-2"></i> {% endif %}
              <a href="{% url 'order_view' pk=order.pk %}">
                <i class="fa fa-eye pull-right"></i>
              </a>
            </li>
            {% endfor %}
            {% else %}
              <small class="pl-2 mt-0 text-muted">No se encontró ningún pedido</small>
            {% endif %}
          <p class="font-weight-bold mb-0 mt-3">Entregados:</p>
          {% if orders_delivered %}
            {% for order in orders_delivered %}
            <li>
              {{order.ref_name}}: entrega el {{order.delivery | date:"j/n/Y"}}
              {% if order.overdue %}<i class="fa fa-warning text-danger pl-2"></i> {% endif %}
              <a href="{% url 'order_view' pk=order.pk %}">
                <i class="fa fa-eye pull-right"></i>
              </a>
            </li>
            {% endfor %}
          {% else %}
            <small class="pl-2 mt-0 text-muted">No se encontró ningún pedido</small>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="card mt-4">
      <h4 class="card-header font-weight-bold">Pendiente de pago:</h4>
      <div class="card-body">
        <ul class="order_details">
          {% for order in pending %}
          <li>
            {{order.ref_name}}: {{order.pending}}€
            <a href="{% url 'order_view' pk=order.pk %}">
              <i class="fa fa-eye pull-right"></i>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
