{% extends "tz/base.html" %}
{% block customers %}
<section id="search" class="f-section">
  <div class="container-fluid">
    <div class="d-flex my-4">
      <div class="mx-auto">
        <form class="form-inline">
          <input class="form-control" type="search" placeholder="Buscar Cliente" aria-label="Buscar">
          <button class="btn btn-outline-success my-2 my-sm-0 mx-sm-2" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="d-flex-column mb-2">
    <h3>Todos los clientes:</h3>
    <a href="#">
      <button class="btn btn-outline-success js-customer-add" data-action="customer-add"  data-pk="0">
        <i class="fa fa-plus"></i> Nuevo cliente
      </button>
    </a>
  </div>
  {% include 'includes/customer_list.html' %}
</div>
{% endblock %}
