{% extends "tz/base.html" %}
{% block customerview %}
<section id="order_detail" class="f-section">
  <div class="container">
    <div class="row mb-4">
      <div class="d-flex-column mr-auto">
        <h3 class="font-weight-bold">Cliente no.{{ customer.pk }}</h3>
        <h4 class="mr-auto">Creado el {{customer.creation | date:"j/n/Y"}}</h4>
      </div>
      <div class="d-flex">
        <a href="{% url 'customer_edit' pk=customer.pk %}">
          <button class="btn btn-outline-success btn-lg"><i class="fa fa-edit"></i> Modificar Cliente</button>
        </a>
      </div>
    </div>
</section>
{% endblock %}
