{% extends "tz/base.html" %}
{% block customers %}
<section id="search" class="f-section">
  <div class="container-fluid">
    <div class="d-flex my-4">
      <div class="mx-auto">
        <form class="form-inline">
          <input class="form-control" type="search" placeholder="Buscar Cliente" aria-label="Buscar">
          <button class="btn btn-outline-success my-2 my-sm-0 mx-sm-2" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <h3>Todos los clientes:</h3>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Alta</th>
      <th scope="col">Pedidos</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
      <th>{{ customer.name }}</th>
      <th>{{ customer.creation | date:"j/n/Y" }}</th>
      <th>
        {{ customer.orders_made }}
        <a href="{% url 'customer_view' pk=customer.pk %}">
          <i class="fa fa-eye pull-right"></i>
        </a>
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
