{% extends "tz/base.html" %}
{% block kanban %}
{% load humanize %}
<div class="d-flex align-items-center mt-1">
  <h2><i class="fal fa-columns mr-2"></i>Vista kanban</h2>
  {% if confirmed %}
  <a href="{% url 'kanban' %}?unconfirmed=True">
    <button class="btn btn-outline-success mx-2" type="button">
      <i class="fal fa-user-clock mr-2"></i>Ver no confirmados
    </button>
  </a>
  {% else %}
  <a href="{% url 'kanban' %}">
    <button class="btn btn-outline-success mx-2" type="button">
      <i class="fal fa-user-check mr-2"></i>Ver confirmados
    </button>
  </a>
  {% endif %}
</div>
<div class="row mx-2 mt-2" id="kanban-columns">
  {%include 'includes/kanban_columns.html'%}
</div>
{% endblock %}
