{% extends "tz/base.html" %}
{% block listview %}
{% if placeholder %}
  {% include 'includes/search_box.html' %}
{% endif %}
<div class="container mt-4">
  <div class="d-flex-column my-4">
    <h3>{{h3}}</h3>
      <button type="button" class="btn btn-outline-success js-crud-add" data-action="{{js_action_add}}"  data-pk="{{js_data_pk}}">
        <i class="fa fa-plus"></i> {{btn_title_add}}
      </button>
  </div>
  <div id="{{table_id}}">
    {%if include_template %}
    {% include include_template %}
    {%endif%}
  </div>
</div>
{% endblock %}
