{% extends "tz/base.html" %}
{% block orderview %}
<section id="order_detail" data-pk="{{ order.pk }}" class="f-section">
  <div class="container">
    <div class="row mb-4">
      <div class="d-flex-column mr-auto">
        <h3 class="font-weight-bold">Pedido no.{{ order.pk }}</h3>
        <h4 class="mr-auto">Creado el {{order.inbox_date | date:"j/n/Y"}}</h4>
      </div>
      <div class="d-flex">
        <a href="{% url 'order_edit' pk=order.pk %}">
          <button class="btn btn-outline-success"><i class="fa fa-edit"></i> Editar</button>
        </a>
        <a href="#">
          <button class="ml-2 btn btn-outline-success"><i class="fa fa-paperclip"></i> Adjuntar</button>
        </a>
      </div>
    </div>
    {% if order.overdue %}
    <div class="d-flex">
      <div class="alert alert-warning" role="alert">
        <i class="fa fa-warning text-danger mr-2"></i>
        <strong>Atención!</strong>
        La entrega de este pedido se programó para el {{order.delivery | date:"j/n"}}
      </div>
    </div>
    {% endif %}
    <div class="d-flex mt-4 order_header">
      <h4 class="mr-auto">
          <strong>Cliente: </strong>{{order.customer}}
      </h4>
      <h4><strong>Referencia:</strong> {{order.ref_name}}</h4>
    </div>
    <div class="d-flex mt-4">
      <h4><strong>Status:</strong></h4>
    </div>
    <div class="d-flex flex-column flex-md-row mt-2 pl-2">
      <div class="btn-group mr-2 mb-2 mb-md-0" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-success js-order-inbox">Recibido</button>
      </div>
      <div class="btn-group mr-2 mb-2 mb-md-0" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-success js-order-waiting">En cola</button>
          <button type="button" class="btn btn-outline-success js-order-preparing">Preparando</button>
          <button type="button" class="btn btn-outline-success js-order-performing">En Proceso</button>
          <button type="button" class="btn btn-outline-success js-order-workshop">Acabado</button>
      </div>
      <div class="btn-group mr-2 mb-2 mb-md-0" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-success js-order-outbox">En espera</button>
        <button type="button" class="btn btn-outline-success js-order-delivered">Entregado</button>
      </div>
      <div class="btn-group" role="group" aria-label="Basic example">
        {% if order.pending == 0 %}
          <button type="button" class="btn btn-outline-success active">
            <i class="fa fa-euro"></i> Cobrado
          </button>
        {% else %}
        <button type="button" class="btn btn-outline-danger">
          {{order.pending}} <i class="fa fa-euro"></i>
        </button>
        {% endif %}
      </div>
    </div>
    <div class="card mt-4">
      <h4 class="card-header font-weight-bold">Detalles:</h4>
      <div class="card-body">
        <ul class="order_details">
          <li>Cintura: {{order.waist}}</li>
          <li>Pecho: {{order.chest}}</li>
          <li>Cadera: {{order.hip}}</li>
          <li>Largo: {{order.lenght}}</li>
          <li>Observaciones:<br>{{order.others}}</li>
        </ul>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header">
        <div class="row px-2">
          <h4 class="font-weight-bold mr-auto">Comentarios:</h4>
          <button class="ml-2 btn btn-outline-success" id="add-comment"><i class="fa fa-comment"></i> Comentar</button>
        </div>
      </div>
      <div class="card-body order_details">
          {% include 'includes/comment_list.html' %}
      </div>
    </div>
    <div class="modal fade" id="modal-comment">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
