{% extends "tz/base.html" %}
{% block orderexpress %}
<section id="order_view" data-pk="{{ order.pk }}">
  <div class="container pt-4">
    <h1>Nueva venta express</h1>
    <div class="row">
      <div class="col-md-8 col-lg-9">
        <h3 class="pb-1 mb-4 border-bottom">Añadir prendas al ticket</h3>
        <div class="d-flex">
        </div>
        <div class="collapse" id="search-results"></div>
        <div class="d-flex flex-column" id="item-selector"></div>
      </div>
      <div class="col-md-4 col-lg-3 border rounded p-2" id="ticket">
        {% include 'includes/ticket.html' %}
      </div>

    </div>
  </div>
</section>
{% endblock %}
