{% extends "tz/base.html" %}
{% block orders %}
{% load humanize %}
{% include 'includes/search_box.html' %}
<div class="container mt-4" id="#order-list">
    <ul class="nav nav-tabs" id="ordersTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#active-orders" role="tab" id="active-orders-tab">Pedidos Activos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#delivered-orders" role="tab" id="delivered-orders-tab">Pedidos Entregados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#pending-orders" role="tab" id="delivered-orders-tab">Pendiente cobro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#active-stock-orders" role="tab" id="stock-orders-tab">Activos TZ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#finished-stock-orders" role="tab" id="stock-orders-tab">Stock</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#cancelled-orders" role="tab" id="stock-orders-tab">Cancelados</a>
      </li>
    </ul>

  <div class="tab-content" id="ordersTabContent">

    <!-- Active orders tab -->
    <div class="tab-pane show active" id="active-orders" role="tabpanel">
      <div class="d-flex pt-4 px-2">
        <div class="mr-auto">
          <div class="d-flex align-items-end">
            <h3 class="">Pedidos activos ({{active|length}})</h3>
            <small class="ml-2 pb-2" data-toggle="collapse" data-target="#legend" role="button" style="cursor: pointer;">Leyenda</small>
          </div>
        </div>
        <h4 class="px-2">Ordenados por:
        </h4>
        <div class="dropdown show">
          <button class="btn btn-sm btn-outline-success dropdown-toggle" type="button" data-toggle="dropdown">
            {% if order_by == 'status' %}<i class="fa fa-cogs"></i> Status
            {% elif order_by == 'priority' %}<i class="fa fa-flag"></i> Prioridad
            {% else %}<i class="fa fa-calendar"></i> Fecha{% endif %}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item {% if order_by == 'date' %}d-none{%endif%}" href="{%url 'orderlist' orderby='date' %}"><i class="fa fa-calendar"></i> Fecha</a>
            <a class="dropdown-item {% if order_by == 'status' %}d-none{%endif%}" href="{%url 'orderlist' orderby='status' %}"><i class="fa fa-cogs"></i> Status</a>
            <a class="dropdown-item {% if order_by == 'priority' %}d-none{%endif%}" href="{%url 'orderlist' orderby='priority' %}"><i class="fa fa-flag"></i> Prioridad</a>
          </div>
        </div>
      </div>
      <div class="collapse" id="legend">
        <div class="border rounded mx-4 p-2">
          <div class="d-flex mb-1">
            <span class="px-2"><i class="far fa-flag"></i> Prioridad</span>
            <span class="px-2"><i class="far fa-cube"></i> Prendas añadidas</span>
            <span class="px-2"><i class="far fa-comment"></i> Comentarios</span>
            <span class="px-2"><i class="far fa-clock"></i> Horas añadidas</span>
            <span class="px-2"><i class="far fa-exclamation-triangle text-danger"></i> Fuera de fecha</span>
          </div>
          <div class="d-flex">
            <span class="px-2"><strong>Entregas:</strong></span>
            <span class="px-2"><i class="fas fa-square mr-1" style="color:{{colors.this}};"></i>Para esta semana</span>
            <span class="px-2"><i class="fas fa-square mr-1" style="color:{{colors.next}};"></i>La semana que viene</span>
            <span class="px-2"><i class="fas fa-square mr-1" style="color:{{colors.in_two}};"></i>En dos semanas</span>
          </div>
        </div>
      </div>
      <div class="px-2">
        {% for order in active %}
        <div class="d-flex flex-column" id="order-entry-{{order.pk}}">
          {% include 'includes/order_entry_element.html' %}
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- delievered orders tab -->
    <div class="tab-pane" id="delivered-orders" role="tabpanel">
      <div class="d-flex py-4 px-2">
        <h3 class="mr-auto">Pedidos entregados</h3>
        <p class="px-2">Mostrando últimos 10</p>
      </div>
      <div class="px-2">
        {% for order in delivered %}
        <div class="d-flex flex-column" id="order-entry-{{order.pk}}">
          {% include 'includes/order_entry_element_delivered.html' %}
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Pending orders tab -->
    <div class="tab-pane" id="pending-orders" role="tabpanel">
      <div class="d-flex py-4 px-2">
        <h3 class="mr-auto">Pedidos Pendientes de cobro</h3>
        <h3 class="px-2">Total pendiente: {{pending_total}}€</h3>
      </div>
      <div class="px-2">
        {% if pending_total == 0 %}
        <div class="d-flex">
          <div class="alert alert-success" role="alert">
            <i class="fa fa-thumbs-up mr-2"></i> <strong>Genial,</strong> tienes todos los pedidos cobrados
          </div>
        </div>
        {% endif %}
        {% for order in pending %}
        <div class="d-flex flex-column" id="order-entry-{{order.pk}}">
          {% if order.status == '7' %}
            {% include 'includes/order_entry_element_delivered.html' %}
          {% else %}
            {% include 'includes/order_entry_element.html' %}
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Active stock orders tab -->
    <div class="tab-pane" id="active-stock-orders" role="tabpanel">
      <div class="d-flex py-4 px-2">
        <h3>Producción de Trapuzarrak</h3>
      </div>
      <div class="px-2">
        {% if not active_stock %}
        <div class="d-flex">
          <div class="alert alert-info" role="alert">
            <i class="fa fa-info mr-2"></i> No hay ningún pedido de trapuzarrak en estos momentos
          </div>
        </div>
        {% endif %}
        {% for order in active_stock %}
        <div class="d-flex flex-column" id="order-entry-{{order.pk}}">
          {% include 'includes/order_entry_element.html' %}
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Finished stock orders tab -->
    <div class="tab-pane" id="finished-stock-orders" role="tabpanel">
      <div class="tab-pane" id="active-stock-orders" role="tabpanel">
        <div class="d-flex py-4 px-2">
          <h3 class="mr-auto">Stock de Trapuzarrak</h3>
          <p class="px-2">Mostrando últimos 10</p>
        </div>
        <div class="px-2">
          {% if not delivered_stock %}
          <div class="d-flex">
            <div class="alert alert-info" role="alert">
              <i class="fa fa-info mr-2"></i> No hay ningún pedido de trapuzarrak en estos momentos
            </div>
          </div>
          {% endif %}
          {% for order in delivered_stock %}
          <div class="d-flex flex-column" id="order-entry-{{order.pk}}">
            {% include 'includes/order_entry_element_delivered.html' %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Cancelled orders -->
    <div class="tab-pane" id="cancelled-orders" role="tabpanel">
      <div class="tab-pane" id="finished-stock-orders" role="tabpanel">
        <div class="tab-pane" id="active-stock-orders" role="tabpanel">
          <div class="d-flex py-4 px-2">
            <h3 class="mr-auto">Pedidos anulados</h3>
            <p class="px-2">Mostrando últimos 10</p>
          </div>
          <div class="px-2">
            {% if not cancelled %}
            <div class="d-flex">
              <div class="alert alert-info" role="alert">
                <i class="fa fa-info mr-2"></i> No hay ningún pedido cancelado.
              </div>
            </div>
            {% endif %}
            {% for order in cancelled %}
            <div class="d-flex flex-column" id="order-entry-{{order.pk}}">
              {% include 'includes/order_entry_element_delivered.html' %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
