{% extends "tz/base.html" %}
{% block orders %}
{% load humanize %}
{% include 'includes/search_box.html' %}
<div class="container" id="#order-list">
  <h3>Todos los pedidos:</h3>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Cliente</th>
      <th scope="col">Referencia</th>
      <th scope="col">Entrega</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="3" class="text-center p-0 m-0 table-info">Activos</th>
    </tr>
    {% for order in active %}
    <tr class="js-view-list-item" data-href="{% url 'order_view' pk=order.pk %}">
        <th>
          {{ order.customer }}
        </th>
      <th>
          {{ order.ref_name}}
      </th>
      <th>
        {{ order.delivery|naturalday}}
        {% if order.overdue %}
          <i class="fa fa-warning text-danger px-2"></i>
        {% endif %}
      </th>
    </tr>
    {% endfor %}
    <tr>
      <th colspan="3" class="text-center p-0 m-0 table-success">Entregados
      </th>
    </tr>
    {% for order in delivered %}
    <tr tr class="js-view-list-item" data-href="{% url 'order_view' pk=order.pk %}">
      <th>
          {{ order.customer }}
      </th>
      <th>
          {{ order.ref_name}}
      </th>
      <th>
        {{ order.delivery | date:"j/n/Y"}}
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if delivered.has_other_pages %}
  <nav aria-label="Order navigation">
  <ul class="pagination justify-content-center">
    {% if delivered.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ delivered.previous_page_number }}">&laquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">&laquo;</a>
      </li>
    {% endif %}

    {% for i in delivered.paginator.page_range %}
      {% if delivered.number == i %}
        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if delivered.has_next %}
      <li class="page-item">
      <a class="page-link" href="?page={{ delivered.next_page_number }}">&raquo;</a>
    </li>
    {% else %}
      <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&raquo;</a>
    </li>
    {% endif %}
  </ul>
  </nav>
{% endif %}
</div>
{% endblock %}
