{% extends "tz/base.html" %}
{% block orderview %}
<section id="order_view" data-pk="{{ order.pk }}" class="f-section">
  <div class="container">
    <div class="row mb-4">
      <div class="d-flex-column mr-auto">
        <h3 class="font-weight-bold">Pedido no.{{ order.pk }}</h3>
        <h4 class="mr-auto">Creado el {{order.inbox_date | date:"j/n/Y"}}</h4>
        <h4 class="mr-auto">Entrega el {{order.delivery | date:"j/n/Y"}}</h4>
      </div>
      <div class="{% if order.status == '8' %}d-none{% else %}d-flex mb-auto{% endif %}">
          <button class="btn btn-outline-success js-order-edit" data-action="order-edit"  data-pk="{{order.pk}}">
            <i class="fa fa-edit"></i> Editar
          </button>
          <button class="ml-2 btn btn-outline-danger js-order-cancel" data-status="8" data-pk="{{order.pk}}"><i class="fa fa-close"></i> Anular pedido</button>
      </div>
    </div>
    {% if order.overdue and order.status not in '78' %}
      <div class="d-flex">
        <div class="alert alert-warning" role="alert">
          <i class="fa fa-warning text-danger mr-2"></i>
          <strong>Atención!</strong>
          La entrega de este pedido se programó para el {{order.delivery | date:"j/n"}}
          <a href="#">
            <button class="ml-2 btn btn-warning js-order-edit-date" data-action="order-edit-date" data-pk="{{order.pk}}"><i class="fa fa-history"></i> Actualizar</button>
          </a>
        </div>
      </div>
    {% endif %}

    <!-- Header -->
    <div class="d-flex mt-4 order_header">
      <h4 class="mr-auto">
          <strong>Cliente: </strong>{{order.customer}}
      </h4>
      <h4><strong>Referencia:</strong> {{order.ref_name}}</h4>
    </div>

    <!-- Status -->
    <div id="order-status">
    {% if order.status == '8' %}
    <div class="d-flex mt-2">
      <div class="alert alert-warning" role="alert">
        <i class="fa fa-warning text-danger mr-2"></i>
        <strong>Atención!</strong>
        Este pedido está anulado
        <a href="#">
          <button class="ml-2 btn btn-warning js-order-reactivate" data-status="1" data-pk="{{order.pk}}"><i class="fa fa-history"></i> Reactivar</button>
        </a>
      </div>
    </div>
    {% endif %}
    {% if order.status == '7' %}
    <div class="d-flex mt-2">
      <div class="alert alert-info" role="alert">
        <i class="fa fa-info-circle text-info mr-2"></i>
        Este pedido está entregado
        {% if order.pending == 0 %}
          y cobrado ({{order.budget}}€)
        {% else %}
         aunque está pendiente de pago
         <button class="ml-2 btn btn-info js-pay-now" data-action="order-pay-now" data-pk="{{order.pk}}"><i class="fa fa-euro"></i> Cobrar</button>
        {% endif %}
          <button class="ml-2 btn btn-info js-order-reactivate" data-status="1" data-pk="{{order.pk}}"><i class="fa fa-history"></i> Reabrir</button>
      </div>
    </div>
    {% else %}

    {% include 'includes/order_status.html' %}
    </div>
    {% endif %}

    <!-- Order Details -->
    <div id="order-details">
    {% include 'includes/order_details.html' %}
    </div>

    <!-- Attached files -->
    <div id="file-list">
    {% include 'includes/file_list.html' %}
    </div>

    <!-- Order Comments -->
    <div id="comment-list">
    {% include 'includes/comment_list.html' %}
    </div>


  </div>
</section>
{% endblock %}
