{% extends "tz/base.html" %}
{% block pqueueview %}

{% comment %}
The entry point for pqueue view.

Renders a two col view that shows available items and queued items (include).
{% endcomment %}

<section id="pqueue">
  <!-- Manager view for PC, tablet is in a separate view-->
  <div class="container pt-4">
    <div class="row">
      <div class="col" id="pqueue-editor">
        <div class="d-none" id="display-errors">
          <div class="alert alert-info" role="alert">
            <i class="fa fa-info mr-2"></i>
            <span class="js-ajax-error"></span>
          </div>
        </div>
        <div class="d-flex flex-column" >
          <h3>Prendas disponibles</h3>
          {% for item in available %}
          <div class="border rounded mr-4 my-1 p-2">
            <div class="d-flex align-items-center">
              <div class="d-flex flex-column">
                <a href="{% url 'order_view' item.reference.pk %}">
                  <strong>{{item.reference.pk}}. {{item.reference.customer.name}}</strong>, &nbsp;
                </a>
                <div class="d-flex">
                  {{item.element.html_string}}
                </div>
              </div>
              <button class="mr-1 btn btn-sm btn-outline-success ml-auto js-queue" data-action="send" data-pk="{{item.pk}}">
                <i class="fal fa-share"></i>
              </button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col" id="pqueue-list">
        {% include 'includes/pqueue_list.html'%}
      </div>

    </div>

  </div>
</section>
{% endblock %}
