{% extends "tz/base.html" %}
{% block stock_manager %}

{% comment %}
Render the stock manager base template.

It includes a button row for filtering options and include the stock tabs, an independent element for AJAX updates.
{% endcomment %}

<div class="container mt-2">
  <h3><i class="far fa-boxes pr-2"></i>Control de stock</h3>
  <h5>Aquí se muestran las prendas con su stock respecto a las ventas de los últimos 12 meses. Intenta mantener la salud por encima de 1</h5>
  <p>Solo se muestran 50 prendas por listado (por cuestiones de eficiencia) pero puedes usar los filtros de la derecha</p>

  <div class="row">
    <div class="col-10" id="stock-tabs">
      {% include 'includes/stock_tabs.html' %}
    </div>
    <div class="col-2">
      <div class="d-flex flex-column">
        <a class="text-decoration-none js-activate-btn" href="{% url 'stock_manager' %}">
          <div class="border rounded item-selector">
            <h5 class="p-1 text-center">Todas las prendas</h5>
          </div>
        </a>
        {% for type in item_types %}
        <a class="text-decoration-none js-activate-btn mt-1" href="{% url 'stock_manager' %}?filter_type={{type.0}}">
          <div class="border rounded mt-1 item-selector">
            <h5 class="p-1 text-center">{{type.1}}</h5>
          </div>
        </a>
        {%endfor%}
      </div>
    </div>

  </div>
</div>

{% endblock %}
