{% load staticfiles %}
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="{% static 'tz/css/bootstrap.min.css' %}">
  <link rel="stylesheet" id="cff-font-awesome-css"  href="{% static 'tz/css/font-awesome.min.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'tz/css/style.css' %}">
</head>
<body>
    <header>
      <div class="container">
        <div class="d-flex">
          <div class="mx-auto">
            <h1 class="intro_text">Trapu Zaharrak App</h1>
          </div>
        </div>
      </div>
    </header>
    <section id="login">
      <div class="container my-4">
        <div class="d-flex justify-content-center">
          <div class="card">
            <div class="card-header">
              <h3><strong>Inicia sesión</strong></h3>
            </div>
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div class="d-flex justify-content-center">
                  <button class="btn btn-outline-success">Enviar</button>
                </dev>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="{% static 'tz/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'tz/js/popper.min.js' %}"></script>
    <script src="{% static 'tz/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'tz/js/order_actions.js' %}"></script>
  </body>
</html>
