body{
  font-family: dosis;
  color: #555;
}
a{color: #555;}

h1, h2, h3, h4, h5 {
  font-family: dosis;
  color: #555;
}
.top_bar{
  background-color: #62DDBD;
  border-bottom: 1px solid #ccc;
}
tbody{
  font-size: .9em;
}
th{
  font-weight: 400;
}
.week-view-table{
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.js-flip, .js-crud-add, .js-crud-edit, .js-crud-delete, .js-view-list-item,
.js-item-selector{
  cursor: pointer;
}

.intro_text{
  font-size: 2.3em;
}
.back_to_orders{
  position: fixed;
  left: 10px;
  top: 20px;
}
.box_link:hover{
  text-decoration: none;
  color: #449B84;
  font-weight: 500;
}
.box_link_h{
  font-weight: inherit;
  color: inherit
}
.custom_bg_1{
  background-color: #DFFCBF;
}
.custom_bg_2{
  background-color: #9BF2BE;
}
.custom_bg_3{
  background-color: #BEEBFE;
}
.custom_bg_4{
  background-color: #B9F3D1;
}
.custom_bg_5{
  background-color: #A7FFEF;
}
.custom_bg_6{
  background-color: #BAF8FF;;
}
.custom_bg_7{
  background-color: #D1F5EE;
}
.pending_ordersbox{
  background-color: #9BF2BE;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid lightgrey;
  text: #fff;
  cursor: pointer;
}
.order-list{
  border: 1px solid lightgrey;
  border-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 0;
}
.commentsbox{
  background-color: #84DCFF;
  border-radius: 5px;
  border: 1px solid lightgrey;
  text: #fff;
  cursor: pointer;
}
.add_new{
  float: right;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px transparent;
  background-color: #E040FB;
  color: #fff;
  box-shadow: -3px 2px 5px #555;
}
.order_header{
  border-bottom: 1px solid lightgrey;
}
.search_link{
  color: #449B84;
  font-weight: bold;
}
.search_results_wrapper{
  border-left: 1px solid #ddd;
}

.js-view-list-item:hover, .item-selector:hover{
  background-color: #daf9bc;
}

.item-list {
  cursor: pointer;
}

.item-list:hover{
  background-color: #daf9bc;
}

#md-content{
  height: 500px;
  overflow: auto;
}

.bank_status{
  width: 200px;
  height: 200px;
}

#pqueue-list-tablet, .pqueue-text{
  font-size: 2.2em;
}

#pqueue-editor, #pqueue-list{
  overflow-y: scroll;
  height: 80vh;
}

#unconfirmed-toggle{cursor: pointer;}

.bg-bar0{background-color: #4B8F98;}  /*sales, green600*/
.bg-bar1{background-color: #4fabb7;}  /*future confirmed lime600*/
.bg-bar2{background-color: #82c0d8;}  /*unconfirmed, cyan700*/
.bg-bar3{background-color: #ab80f8;}  /*produced tz, DeepPurple500*/
.bg-bar4{background-color: #bfa3f2;}  /*future tz, yellow200*/
