<div class="card mt-4" id="attached-files">
  <h4 class="card-header font-weight-bold">Archivos adjuntos:</h4>
  <div class="card-body order_details">
    <div class="d-flex-column">
      {% if files %}
        {% for file in files %}
        <div class="my-2">
          <a href="{{ file.document.url }}">
            <button class="ml-2 mr-3 btn btn-outline-success" id="{{file.pk}}"><i class="fa fa-paperclip"></i> {{file.document.name}}</button>
          </a>
            <button class="ml-2 mr-3 btn btn-outline-danger js-file-delete" id="order-file-delete" data-pk="{{file.pk}}"><i class="fa fa-trash"></i> Eliminar</button>
        </div>
        {% endfor %}
      {% else %}
      <div class="d-flex">
        <div class="alert alert-info" role="alert">
          <i class="fa fa-info mr-2"></i>
          No se ha adjuntado ningún archivo.
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
