<table class="table">
<thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Nombre</th>
    <th scope="col">Alta</th>
    <th scope="col">Pedidos</th>
  </tr>
</thead>
<tbody>
  {% for customer in customers %}
  <tr class="js-view-list-item" data-href="{% url 'customer_view' pk=customer.pk %}">
    <th>{{customer.pk}}</th>
    <th>{{customer.name }}</th>
    <th>{{ customer.creation | date:"j/n/Y" }}</th>
    <th>
      {{ customer.num_orders }}
    </th>
  </tr>
  {% endfor %}
</tbody>
</table>

{% if customers.has_other_pages %}
  <nav aria-label="Order navigation">
  <ul class="pagination justify-content-center">
    {% if customers.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ customer.previous_page_number }}">&laquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">&laquo;</a>
      </li>
    {% endif %}

    {% for i in customers.paginator.page_range %}
      {% if customers.number == i %}
        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if customers.has_next %}
      <li class="page-item">
      <a class="page-link" href="?page={{ customer.next_page_number }}">&raquo;</a>
    </li>
    {% else %}
      <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&raquo;</a>
    </li>
    {% endif %}
  </ul>
  </nav>
{% endif %}
