{% load widget_tweaks %}
<form method="post" action="{% url 'actions' %}" class="js-send-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{{modal_title}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true"><i class="fa fa-times"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{msg|safe}}</p>
  </div>
  <input type="hidden" name="pk" value="{{pk}}">
  <input type="hidden" id="js-action" name="action" value="{{action}}">
  <div class="modal-footer">
    <div class="mr-auto d-none" id="check-success">
      <i class="far fa-check text-success"></i> Borrado, puedes cerrar esta ventana.
    </div>
    <div class="mr-auto d-none" id="bg-working">
      <i class="far fa-spinner fa-spin"></i> Procesando, ten paciencia.
    </div>
    <div class="mr-auto">
      {{ form.non_field_errors }}
      {{form.errors.name}}
      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}
    </div>
    <button type="button" class="btn btn-outline-success" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-danger">{{submit_btn}}</button>
  </div>
</form>
