<tr class="collapse" id="item-help">
  <td class="pl-5" colspan="2">
    <strong>Ejemplo:</strong> <em>Camisa Atodu S-12</em><br>
    <em>Camisa:</em> tipo de prenda <br>
    <em>Atondu:</em> nombre <br>
    <em>S:</em> acabado (<strong>S</strong>tandard, <strong>M</strong>edium o <strong>P</strong>remium) <br>
    <em>12:</em> Talla <br>
  </td>
  <td colspan="2">
    <strong>Iconos:</strong><br>
    <i class="far fa-sticky-note px-1"></i>Observaciones <br>
    <i class="far fa-sign-in-alt px-1"></i>Externo <br>
    <i class="far fa-cut px-1"></i>Arreglo<br>
    <i class="far fa-history px-1"></i>Stock
  </td>
</tr>
