<div class="modal-header">
  <h4 class="modal-title">Resumen del ticket</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true"><i class="fa fa-times"></i></span>
  </button>
</div>
<div class="modal-body" id="md-content">
  <ul class="list-group list-group-flush">
    {%for item in items%}
     <li class="list-group-item d-flex justify-content-between">
         <span>{{item.qty}} x {%include 'includes/item_string.html'%} {{item.price}}€</span>
         <span>{{item.subtotal}}€</span>
     </li>
    {%endfor%}
  </ul>
  <div class="d-flex justify-content-end mt-4">
    <h3><strong>Total:</strong>&nbsp;{{order.total}}€</h3>
  </div>
  <div class="d-flex justify-content-center">
    <a href="{% url 'ticket_print' order.invoice.invoice_no %}">
      <button class="mr-1 mt-1 btn btn-outline-success">
        <i class="fa fa-vote-yea"></i><br>Imprimir ticket
      </button>
    </a>
    {% if order.customer.name != 'express' %}
    <a href="{% url 'order_view' order.pk %}">
      <button class="ml-1 mt-1 btn btn-outline-success">
        <i class="fa fa-dolly"></i><br>Ir al pedido
      </button>
    </a>
    {% endif %}
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cerrar</button>
</div>
