{% comment %}
Render the item selector.

Item selector is the interactive interface to add order items to orders (both
express and regular ones) and to edit different base_items in the item view.
{% endcomment %}

<div class="d-flex align-items-center">
  <button type="button" class="btn btn-outline-success mx-1 {%if not data_type%}active{%endif%} js-item-selector" data-aditional-pk="{{order.pk}}">
    <i class="fal fa-filter pr-3"></i>Todas las prendas
  </button>
  {%if data_type%}
  <button type="button" class="btn btn-outline-success mx-1 {%if not data_name%}active{%endif%} js-item-selector" data-type="{{data_type.0}}" data-aditional-pk="{{order.pk}}">
    <i class="fa fa-tshirt pr-1"></i>{{data_type.1}}
  </button>
  {%endif%}
  {%if data_name%}
  <button type="button" class="btn btn-outline-success mx-1 {%if not data_size%}active{%endif%} js-item-selector" data-type="{{data_type.0}}" data-name="{{data_name}}" data-aditional-pk="{{order.pk}}">
    <i class="fa fa-font pr-1"></i>{{data_name}}
  </button>
  {%endif%}
  {%if data_size%}
  <button type="button" class="btn btn-outline-success mx-1 {%if data_size%}active{%endif%}">
    <i class="fa fa-expand-alt pr-1"></i>{{data_size}}
  </button>
  {%endif%}
</div>

{%if not data_type%}<!-- Select item type -->
  <div class="d-flex flex-wrap mt-1">
    {% for item in item_types %}
    <div class="border rounded m-1 item-selector js-item-selector" data-order-pk="{{order.pk}}" data-type="{{item.0}}" data-aditional-pk="{{order.pk}}">
      <h5 class="p-3 text-center">{{item.1}}</h5>
    </div>
    {%endfor%}
  </div>
{%endif%}

{%if data_type and not data_name%}<!-- Select item name -->
  <div class="d-flex flex-wrap mt-1 mb-3">
    {% for item in item_names %}
    <div class="border rounded m-1 item-selector js-item-selector" data-type="{{data_type.0}}" data-name="{{item.name}}" data-aditional-pk="{{order.pk}}">
      <h5 class="p-3 text-center">{{item.name}}</h5>
    </div>
    {%endfor%}
  </div>
    {%if errors%}{{errors}}{%endif%}
    <form class="js-item-selector-add"><!-- New name for item-->
      {%csrf_token%}
      <input type="hidden" name="item_type" value="{{data_type.0}}">
      <input type="hidden" name="filter-on-type" value="{{data_type.0}}">
      <input type="hidden" name="aditionalpk" value="{{order.pk}}">
      <input type="hidden" name="stocked" value="0">
      <div class="form-row m-1">
        <div class="col-4">
          <input class="form-control" type="text" name="name" placeholder="Nuevo modelo de {{data_type.1}}" required>
        </div>
        <div class="col">
          <input class="form-control" type="text" name="size" placeholder="Talla" required>
        </div>
        <div class="col">
          <select class="form-control" name="item_class">
            {%for iClass in item_classes%}
            <option value="{{iClass.0}}" {%if forloop.first%}selected{%endif%}>{{iClass.1}}</option>
            {%endfor%}

          </select>
        </div>
        <div class="col">
          <input class="form-control" type="number" name="fabrics" placeholder="Tela" step="0.01" required>
        </div>
        <div class="col">
          <input class="form-control" type="number" name="price" placeholder="Precio" step="0.01" required>
        </div>
        <div class="col">
          <div class="form-check pt-2">
            <input class="form-check-input" type="checkbox" name="foreing" id="id_foreing">
            <label class="form-check-label" for="id_foreing">Externo</label>
          </div>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-outline-success">Añadir</button>
        </div>
      </div>
    </form>


{%endif%}

{%if data_name and not data_size%}<!-- Select item size -->
    <div class="d-flex flex-wrap mt-1">
      {% for item in item_sizes %}
      <div class="border rounded m-1 item-selector js-item-selector" data-type="{{data_type.0}}" data-name="{{data_name}}" data-size="{{item.size}}" data-aditional-pk="{{order.pk}}">
        <h5 class="p-3 text-center">T-{{item.size}}</h5>
      </div>
      {%endfor%}
    </div>
    <form class="js-item-selector-add">  <!--New size for item-->
      {%csrf_token%}
      <input type="hidden" name="item_type" value="{{data_type.0}}">
      <input type="hidden" name="filter-on-type" value="{{data_type.0}}">
      <input type="hidden" name="filter-on-name" value="{{data_name}}">
      <input type="hidden" name="name" value="{{data_name}}">
      <input type="hidden" name="aditionalpk" value="{{order.pk}}">
      <input type="hidden" name="stocked" value="0">
      <div class="form-row m-1">
        <div class="col">
          <input class="form-control" type="text" name="size" placeholder="Nueva Talla" required>
        </div>
        <div class="col">
          <select class="form-control" name="item_class">
            {%for iClass in item_classes%}
            <option value="{{iClass.0}}" {%if forloop.first%}selected{%endif%}>{{iClass.1}}</option>
            {%endfor%}

          </select>
        </div>
        <div class="col">
          <input class="form-control" type="number" name="fabrics" placeholder="Tela" step="0.01" required>
        </div>
        <div class="col">
          <input class="form-control" type="number" name="price" placeholder="Precio" step="0.01" required>
        </div>
        <div class="col">
          <div class="form-check pt-2">
            <input class="form-check-input" type="checkbox" name="foreing" id="id_foreing">
            <label class="form-check-label" for="id_foreing">Externo</label>
          </div>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-outline-success">Añadir talla</button>
        </div>
      </div>
    </form>


{%endif%}
{%if data_size%}
<h5>Nuevo acabado para T-{{data_size}}</h5>
<form class="js-item-selector-add">  <!--New class for item-->
  {%csrf_token%}
  <input type="hidden" name="item_type" value="{{data_type.0}}">
  <input type="hidden" name="filter-on-type" value="{{data_type.0}}">
  <input type="hidden" name="filter-on-name" value="{{data_name}}">
  <input type="hidden" name="filter-on-size" value="{{data_size}}">
  <input type="hidden" name="name" value="{{data_name}}">
  <input type="hidden" name="size" value="{{data_size}}">
  <input type="hidden" name="aditionalpk" value="{{order.pk}}">
  <input type="hidden" name="stocked" value="0">
  <div class="form-row align-items-center m-1">
    <div class="col-auto">
      <select class="form-control" name="item_class">
        {%for iClass in item_classes%}
        <option value="{{iClass.0}}" {%if forloop.first%}selected{%endif%}>{{iClass.1}}</option>
        {%endfor%}

      </select>
    </div>
    <div class="col-auto">
      <input class="form-control" type="number" name="fabrics" placeholder="Tela" step="0.01" required>
    </div>
    <div class="col-auto">
      <input class="form-control" type="number" name="price" placeholder="Precio" step="0.01" required>
    </div>
    <div class="col-auto">
      <div class="form-check pt-2">
        <input class="form-check-input" type="checkbox" name="foreing" id="id_foreing">
        <label class="form-check-label" for="id_foreing">Externo</label>
      </div>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-outline-success">Añadir acabado T-{{data_size}}</button>
    </div>
  </div>
</form>
{%endif%}

<h3 class="mt-4 pb-1 border-bottom">
  <i class="fa fa-list pr-2"></i>Lista de prendas encontradas
  <span class="badge badge-info mr-1">
    {{total_items}}
  </span>
</h3>

<div class="d-flex">
  <table class="table">
    <thead>
      <th scope="col">Prenda</th>
      <th scope="col">Stock</th>
      <th scope="col">Precio</th>
      {% if not order %}<th scope="col">Tela</th>{% endif %}
      <th scope="col">Tiempos</th>
      <th scope="col">Acciones</th>
    </thead>
    <tbody>
      {% for item in available_items %}
        <tr>
          <td class="d-flex">
            #{{item.pk}}-{{item.html_string}}
          </td>
          {% if item.stocked == 0 %}
            <td class="text-danger">
              <strong>{{item.stocked}}</strong>
            </td>
          {% else %}
            <td>{{item.stocked}}</td>
          {% endif %}
          <td>{{item.price}}</td>
          {% if not order %}<td>{{item.fabrics}}</td>{% endif %}
          <td>
            {% if not item.foreing %}
              <span class="ml-1 mr-2">
                  {{item.pretty_avg.0}}&middot;
              </span>
              <span class="ml-1 mr-2">
                  {{item.pretty_avg.1}}&middot;
              </span>
              <span class="ml-1 mr-2">
                  {{item.pretty_avg.2}}
              </span>
            {% else %}
              Externa
            {% endif %}
          </td>
          <td>
            {% if order %}
              {% if item.stocked != 0 or order.ref_name != 'Quick'%}
                <button class="mr-1 btn btn-sm btn-outline-success js-crud-load" action="{% url 'orderitems-CRUD' %}" data="element={{item.pk}}&reference={{order.pk}}">
                  <i class="far fa-share"></i>
                </button>
              {% else %}
                Sin stock
              {% endif %}
            {% else %}
              {% if item.stocked != 0 %}
                <button class="mr-1 btn btn-sm btn-outline-success js-crud-edit" data-action="object-item-edit" data-pk="{{item.pk}}">
                  <i class="far fa-edit"></i>
              </button>
              {% endif %}
              <button class="mr-1 btn btn-sm btn-outline-danger js-crud-delete" data-action="object-item-delete" data-pk="{{item.pk}}">
                <i class="far fa-trash"></i>
              </button>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      {%if total_items > 15%}
        <tr>
          <td rowspan="5">Y {{total_items|add:"-15"}} más.</td>
        </tr>
      {%endif%}
    </tbody>
  </table>
</div>
