<div class="d-flex mb-1">
  <form class="form-inline js-filter-view" method="post" action="{% url 'filter-items' %}">
    {% csrf_token %}
    <input class="form-control mb-2 mr-sm-2" type="search" id="filter-name" placeholder="Escribe un nombre" name="search-obj">

    <select class="form-control mb-2 mr-sm-2" id="item-type" name="item-type">
      <option value="all">Todas las prendas</option>
      {% for item in item_types %}
        <option value="{{item.0}}">{{item.1}}</option>
      {%endfor%}
    </select>

    <select class="form-control mb-2 mr-sm-2" id="item-type" name="item-class">
      <option value="all">Todos los acabados</option>
      {% for item in item_classes %}
        <option value="{{item.0}}">{{item.1}}</option>
      {%endfor%}
    </select>

    <button class="btn btn-outline-success mb-2 mr-sm-2" type="submit">Filtrar vista</button>
  </form>
</div>
<table class="table">
<thead>
  <tr>
    <th scope="col" style="cursor:pointer;" data-toggle="collapse" data-target="#identificator-help">
      Identificador <i class="far fa-question-circle"></i>
    </th>
    <th scope="col">Tela</th>
    <th scope="col">Notas</th>
    <th scope="col">Acciones</th>
  </tr>
  <tr class="collapse" id="identificator-help">
    <td class="pl-5" colspan="3">
      <strong>Ejemplo:</strong> <em>Camisa Atodu S-12</em><br>
      <em>Camisa:</em> tipo de elemento <br>
      <em>Atondu:</em> nombre <br>
      <em>S:</em> acabado (<strong>S</strong>tandard, <strong>M</strong>edium o <strong>P</strong>remium) <br>
      <em>12:</em> Talla
    </td>
</thead>
<tbody>
  {% for item in items %}
    {% if item.name != 'Predeterminado' %}
      <tr>
        <th>{{item.get_item_type_display}} {{item.name}} {{item.item_class}}-{{item.size}}</th>
        <th>{{ item.fabrics}}</th>
        <th>{{ item.notes }}</th>
        <th>{% include 'includes/action_buttons.html' %}</th>
      </tr>
    {% endif %}
  {% endfor %}
</tbody>
</table>
