<div class="d-flex mb-1">
  <form class="form-inline js-filter-view" method="post" action="{% url 'filter-items' %}">
    {% csrf_token %}
    <input class="form-control" type="search" placeholder="Filtra un nombre" name="search-obj">
    <button class="btn btn-outline-success my-2 my-sm-0 mx-sm-2" type="submit">Filtrar</button>
  </form>
</div>
<table class="table">
<thead>
  <tr>
    <th scope="col">Identificador</th>
    <th scope="col">Tela</th>
    <th scope="col">Notas</th>
    <th scope="col">Acciones</th>
  </tr>
</thead>
<tbody>
  {% for item in items %}
    {% if item.name != 'Predeterminado' %}
      <tr>
        <th>{{item.get_item_type_display}} {{item.name}} {{item.item_class}}-{{item.size}}</th>
        <th>{{ item.fabrics}}</th>
        <th>{{ item.notes }}</th>
        <th>{% include 'includes/action_buttons.html' %}</th>
      </tr>
    {% endif %}
  {% endfor %}
</tbody>
</table>
