<div class="d-flex mb-1">
  <form class="form-inline js-filter-view" method="get" action="{% url 'filter-items' %}">
    <input class="form-control mb-2 mr-sm-2" type="search" id="filter-name" placeholder="Escribe un nombre" name="search-obj">

    <select class="form-control mb-2 mr-sm-2" id="item-type" name="item-type">
      <option value="all">Todas las prendas</option>
      {% for item in item_types %}
        <option value="{{item.0}}">{{item.1}}</option>
      {%endfor%}
    </select>

    <select class="form-control mb-2 mr-sm-2" id="item-class" name="item-class">
      <option value="all">Todos los acabados</option>
      {% for item in item_classes %}
        <option value="{{item.0}}">{{item.1}}</option>
      {%endfor%}
    </select>

    <button class="btn btn-outline-success mb-2 mr-sm-2" type="submit">Filtrar vista</button>
  </form>
</div>

{%if filter_on%}
<form class="js-filter-view" method="get" action="{% url 'filter-items' %}">
  <div class="d-inline-flex ml-3 mb-2 alert alert-info">
    <i class="far fa-filter mr-2"></i>{{filter_on}}
    <button type="submit" class="close"><i class="far fa-times px-2"></i></button>
  </div>
</form>
{%endif%}

<table class="table">
<thead>
  <tr>
    <th scope="col">
      Identificador <i class="far fa-question-circle" style="cursor:pointer;" data-toggle="collapse" data-target="#item-help"></i>
    </th>
    <th scope="col">Tela</th>
    <th scope="col">
      Acciones
      <i class="far fa-question-circle px-1" style="cursor:pointer;" data-toggle="collapse" data-target="#actions-help"></i>
    </th>
  </tr>
  {% include 'includes/info_items.html' %}
  <tr class="collapse" id="actions-help">
    <td class="pl-5" colspan="3">
      <i class="far fa-share px-1"></i>Enviar a pedido
      <i class="far fa-edit px-1 ml-4"></i>Editar prenda
      <i class="far fa-trash px-1 ml-4"></i>Eliminar prenda
    </td>
  </tr>
</thead>
<tbody>
  {% for item in items %}
    {% if item.name != 'Predeterminado' %}
      <tr {%if item.notes%} class="item-list" data-toggle="collapse" data-target="#item-detail-{{item.pk}}"{%endif%}>
        <th>
          {{item.get_item_type_display}} {{item.name}} {{item.item_class}}-{{item.size}}
          {%if item.notes%}
          <i class="far fa-sticky-note ml-2"></i>
          {%endif%}
          {%if item.foreing%}
          <i class="far fa-sign-in-alt"></i>
          {%endif%}
        </th>
        <th>{{ item.fabrics}}</th>
        <th>{% include 'includes/action_buttons.html' %}</th>
      </tr>
      {%if item.notes%}
        <tr class="collapse" id="item-detail-{{item.pk}}">
          <td class="pl-3" colspan="2">
            <strong>Observaciones:</strong><br>
              {{item.notes}}
          </td>
        </tr>
      {%endif%}
    {% endif %}
  {% endfor %}
</tbody>
</table>
