{% if order.status == '8' %}
<div class="d-flex mt-2">
  <div class="alert alert-warning" role="alert">
    <i class="fa fa-warning text-danger mr-2"></i>
    <strong>Atención!</strong>
    Este pedido está anulado
    <a href="#">
      <button class="ml-2 btn btn-warning js-order-status" data-status="1" data-pk="{{order.pk}}" id="status-reactivate"><i class="fa fa-history"></i> Reactivar</button>
    </a>
  </div>
</div>
{% endif %}
{% if order.status == '7' %}
<div class="d-flex mt-2">
  <div class="alert alert-info" role="alert">
    <i class="fa fa-info-circle text-info mr-2"></i>
    Este pedido está entregado
    {% if order.pending == 0 %}
      y cobrado ({{order.budget}}€)
    {% else %}
     aunque está pendiente de pago
     <button class="ml-2 btn btn-info js-pay-now" data-action="order-pay-now" data-pk="{{order.pk}}" id="status-pay-closed-order"><i class="fa fa-euro"></i> Cobrar</button>
    {% endif %}
      <button class="ml-2 btn btn-info js-order-status" data-status="1" data-pk="{{order.pk}}" id="status-reopen"><i class="fa fa-history"></i> Reabrir</button>
  </div>
</div>
{% else %}
  <div class="d-flex mt-4">
    <h4><strong>Status:</strong></h4>
  </div>
  <div class="d-flex flex-column flex-md-row mt-2 pl-2">
    <div class="btn-group mr-2 mb-2 mb-md-0" role="group">
      <button type="button" class="btn btn-outline-success js-order-status {% if order.status == '1' %}active{% endif %}" data-pk="{{order.pk}}" data-status="1" id="status-inbox">{{order.STATUS.0.1}}</button>
    </div>
    <div class="btn-group mr-2 mb-2 mb-md-0" role="group">
      <button type="button" class="btn btn-outline-success js-order-status {% if order.status == '2' %}active{% endif %}" data-pk="{{order.pk}}" data-status="2" id="status-waiting">{{order.STATUS.1.1}}</button>
      <button type="button" class="btn btn-outline-success js-order-status {% if order.status == '3' %}active{% endif %}" data-pk="{{order.pk}}" data-status="3" id="status-preparing">{{order.STATUS.2.1}}</button>
      <button type="button" class="btn btn-outline-success js-order-status {% if order.status == '4' %}active{% endif %}" data-pk="{{order.pk}}" data-status="4" id="status-performing">{{order.STATUS.3.1}}</button>
      <button type="button" class="btn btn-outline-success js-order-status {% if order.status == '5' %}active{% endif %}" data-pk="{{order.pk}}" data-status="5" id="status-workshop">{{order.STATUS.4.1}}</button>
    </div>
    <div class="btn-group mr-2 mb-2 mb-md-0" role="group">
      <button type="button" class="btn btn-outline-success js-order-status {% if order.status == '6' %}active{% endif %}" data-pk="{{order.pk}}" data-status="6" id="status-outbox">{{order.STATUS.5.1}}</button>
      <button type="button" class="btn btn-outline-success js-close-order {% if order.status == '7' %}active{% endif %}" data-action="order-close" data-pk="{{order.pk}}" id="status-delivered">{{order.STATUS.6.1}}</button>
    </div>
      <button type="button" class="btn btn-outline-success active {%if order.pending != 0 %}d-none{% endif %}">
        <i class="fa fa-euro"></i> Cobrado {{order.budget}}€
      </button>
      <button type="button" class="btn btn-outline-danger js-pay-now {%if order.pending == 0 %}d-none{% endif %}" data-action="order-pay-now" data-pk="{{order.pk}}" id="status-close">{{order.pending}}</button>
  </div>
{% endif %}
