<div class="card mt-4">
  <div class="card-header">
    <div class="row px-2">
      <h4 class="font-weight-bold mr-auto">Detalles:</h4>
      <button class="ml-2 btn btn-outline-success js-add-item" data-action="order-add-item" data-pk="{{order.pk}}"><i class="fa fa-plus"></i> Añadir Item</button>
    </div>
  </div>
  <div class="card-body order_details">
    <ul class="">
      <li>Cintura: {{order.waist}}</li>
      <li>Pecho: {{order.chest}}</li>
      <li>Cadera: {{order.hip}}</li>
      <li>Largo: {{order.lenght}}</li>
      <li>Observaciones:<br>{{order.others | linebreaksbr}}</li>
    </ul>
    <h4>Items:</h4>
    {% if items %}
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Elemento</th>
        <th scope="col">Talla</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <th scope="row">{{item.get_item_display}}</th>
        <th>{{item.size}}</th>
        <th>{{item.qty}}</th>
        <th>
          <button class="ml-2 mr-3 btn btn-outline-success js-edit-item" data-action="order-edit-item" data-pk="{{item.pk}}"><i class="fa fa-paperclip"></i> Editar</button>
          <button class="ml-2 mr-3 btn btn-outline-danger js-delete-item" data-action="order-delete-item" data-pk="{{item.pk}}"><i class="fa fa-trash"></i> Eliminar</button>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="d-flex">
    <div class="alert alert-info" role="alert">
      <i class="fa fa-info mr-2"></i> No se ha añadido ningún item
    </div>
  </div>
  {% endif %}
  </div>
</div>
