<div class="card mt-4">
  <div class="card-header">
    <div class="row px-2">
      <h4 class="font-weight-bold mr-auto">Detalles:</h4>
      {%if not order.invoiced%}
      <button class="btn btn-outline-success mr-2 js-crud-edit" data-action="order-edit"  data-pk="{{order.pk}}" id="order-edit">
        <i class="fal fa-edit"></i> Editar pedido
      </button>
      <button type="button" class="btn btn-sm btn-outline-success mr-2" data-toggle="collapse" data-target="#item-selector-wrapper">
        <i class="fal fa-tshirt"></i> {{btn_title_add}}
      </button>
      <button type="button" class="btn btn-sm btn-outline-success js-crud-edit" data-action="order-edit-add-prepaid"  data-pk="{{order.pk}}">
        <i class="fal fa-coins"></i> Añadir prepago
      </button>
      {%endif%}
    </div>
  </div>
  <div class="card-body order_details">
    <div class="d-flex mt-2 mb-4">
        <div class="mr-1 p-3 border rounded"><strong>Cintura:</strong> {{order.waist}}</div>
        <div class="mx-1 p-3 border rounded"><strong>Pecho:</strong> {{order.chest}}</div>
        <div class="mx-1 p-3 border rounded"><strong>Cadera:</strong> {{order.hip}}</div>
        <div class="ml-1 p-3 border rounded"><strong>Largo:</strong> {{order.lenght}}</div>
    </div>
    {%if order.others%}
      <div class="d-flex flex-column my-2">
        <h4><i class="far fa-sticky-note fa-fw"></i><strong> Observaciones:</strong></h4>
        <p class="ml-2">{{order.others | linebreaksbr}}</p>
      </div>
    {%endif%}
    <div class="collapse border rounded m-2 mb-4 shadow" id="item-selector-wrapper">
      <div class="d-flex justify-content-between px-2 py-1 mb-1 border-bottom custom_bg_3">
        <h3><i class="fal fa-tshirt"></i></h3>
        <h3>Selector de prendas</h3>
        <button type="button" class="close" data-toggle="collapse" data-target="#item-selector-wrapper">
          <i class="far fa-times mr-1"></i>
        </button>
      </div>
      <div class="p-2" id="item-selector"></div>
    </div>
    <div id="orderitems-list">
      {%include 'includes/orderitems_list.html'%}
    </div>
  </div>
</div>
