{% load humanize %}
<div class="card my-2">
  <div class="card-body" {%if order.color%}style="border-left: 5px solid {{order.color}}"{%endif%}>
    <div class="row">
      <div class="col-9">
        <div class="d-flex">
          <a href="{% url 'order_view' pk=order.pk %}">
            <h5 class="px-1">
              <strong>No.{{order.pk}}: {{order.ref_name}}. </strong>
            </h5>
          </a>
          {% if order.customer.name != 'trapuzarrak' %}
          <span>de
            <a href="{% url 'customer_view' pk=order.customer.pk %}"> {{order.customer}}</a>
          </span>
          {% endif %}
        </div>
        <div class="d-flex">
          <div class="d-flex flex-column">
            <div class="d-flex">
              {% if order.prev_status != '0' %}
              <form class="" action="{% url 'orderlist' orderby='date' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="order" value="{{order.pk}}">
                <input type="hidden" name="status" value="{{order.prev_status}}">
                <button type="submit" class="btn btn-sm btn-outline-success">
                  <i class="fa fa-minus"></i>
                </button>
              </form>
              {% endif %}
              <button type="button" class="btn btn-sm btn-outline-success mx-1" id="order-{{order.pk}}-status">
                <i class="fa fa-cogs"></i> {{order.get_status_display}}
              </button>
              {% if order.next_status != '7' %}
              <form class="" action="{% url 'orderlist' orderby='date' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="order" value="{{order.pk}}">
                <input type="hidden" name="status" value="{{order.next_status}}">
                <button type="submit" class="btn btn-sm btn-outline-success">
                  <i class="fa fa-plus"></i>
                </button>
              </form>
              {% endif %}
            </div>
            <div class="progress mt-1">
              <div class="progress-bar bg-success" style="width:{{order.progress}}%; height:5px;">

              </div>
            </div>
          </div>

          <span class="px-2 {% if order.priority == '1' %}text-danger{% endif %}">{{order.priority}}
            <i class="fa fa-flag"></i></span>
          <span class="px-2">{{order.orderitem__count}} <i class="fa fa-cube"></i> </span>
          <span class="px-2">{{order.comment__count}} <i class="fa fa-comment"></i> </span>
          <span class="px-2 {% if order.timing__count == 0 %}text-danger font-weight-bold{% endif %}">{{order.timing__count}} <i class="far fa-clock"></i> </span>
          <span class="px-2">
            <i class="fa fa-calendar"></i> Entrega: {{ order.delivery|naturalday}}
            {% if order.overdue %}
              <i class="far fa-exclamation-triangle text-danger px-1"></i>
            {% endif %}
          </span>
        </div>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-sm btn-outline-success js-crud-edit mr-1" data-action="order-edit"  data-pk="{{order.pk}}">
            <i class="fa fa-edit"></i> Editar
          </button>
          {% if order.pending != 0 %}
            <button class="btn btn-sm btn-outline-danger js-crud-edit" data-action="order-pay-now" data-pk="{{order.pk}}">
              {{order.pending}}€
            </button>
          {% else %}
            <button type="button" class="btn btn-sm btn-success">Pagado</button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
