<div class="card mt-4">
  <div class="card-header">
    <div class="row px-2">
      <h4 class="font-weight-bold mr-auto">Detalles:</h4>
      <button type="button" class="btn btn-sm btn-outline-success js-crud-add" data-action="{{js_action_add}}"  data-pk="{{js_data_pk}}">
        <i class="fa fa-plus"></i> {{btn_title_add}}
      </button>
    </div>
  </div>
  <div class="card-body order_details">
    <ul class="">
      <li>Cintura: {{order.waist}}</li>
      <li>Pecho: {{order.chest}}</li>
      <li>Cadera: {{order.hip}}</li>
      <li>Largo: {{order.lenght}}</li>
      <li>Observaciones:<br>{{order.others | linebreaksbr}}</li>
    </ul>
    <h4>Prendas:</h4>
    {% if items %}
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Prenda</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Tiempos</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td scope="row">
          {{item.element}}
        </td>
        <td>{{item.qty}}</td>
        <td data-toggle="collapse" data-target="#time-detail-{{item.pk}}" style="cursor:pointer;">
          {% if item.time_quality == 0 %}
            <i class="far fa-frown" ></i> Sin tiempos aún (0/3)
          {% elif item.time_quality == 1 %}
            <i class="far fa-smile-wink fa-fw" ></i> Ánimo (1/3)
          {% elif item.time_quality == 2 %}
            <i class="far fa-thumbs-up fa-fw" ></i> Bien (2/3)
          {% else %}
            <i class="far fa-star fa-fw" ></i> Genial (3/3)
          {% endif %}
        </td>
        <td>{% include 'includes/action_buttons.html' %}</td>
      </tr>
      <tr class="collapse" id="time-detail-{{item.pk}}">
        <td class="pl-3" colspan="2">
          <strong>Descripción:</strong><br>
          {%if item.description%}
            {{item.description}}
          {%else%}
            No se ha dado descripción para esta prenda.
          {%endif%}
        </td>
        <td colspan="2">
          <strong>Tiempos:</strong><br>
          <strong>Corte: </strong>{{item.crop}};<br>
          <strong>Confección: </strong>{{item.sewing}};<br>
          <strong>Planchado:</strong>{{item.iron}}
        </td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="d-flex">
    <div class="alert alert-info" role="alert">
      <i class="fa fa-info mr-2"></i> No se ha añadido ninguna prenda
    </div>
  </div>
  {% endif %}
  </div>
</div>
