{% comment %}
  Shows the element's details in the pqueue views
{% endcomment %}


<div class="d-flex flex-column mt-4">
  <span><i class="far fa-tshirt mr-1"></i><strong>Detalles de la prenda:</strong></span>
  <ul class="ml-4">
    <li>Cantidad: {{item.item.qty}}</li>
    <li>Tiempos: {{item.item.crop}}, {{item.item.sewing}}, {{item.item.iron}}</li>
    {%if item.item.description%}
      <li id="item{{item.item.pk}}-notes">Notas: {{item.item.description}}</li>
    {%endif%}
  </ul>
  <span class="mt-4"><i class="far fa-dolly mr-1"></i><strong>Detalles del pedido:</strong></span>
  <ul class="ml-4">
    <li>Entrega: {{item.item.reference.delivery}}</li>
    <li>Prioridad: {{item.item.reference.priority}}</li>
    <li>Medidas: cintura, {{item.item.reference.waist}}; pecho, {{item.item.reference.chest}};
    cadera, {{item.item.reference.hip}}; largo, {{item.item.reference.lenght}};</li>
    {%if item.item.reference.others%}
      <li>Notas: {{item.item.reference.others}}</li>
    {%endif%}
  </ul>
</div>

<div class="d-flex justify-content-end my-2">
  <button class="mr-2 btn-lg btn btn-outline-success js-crud-edit" data-action="pqueue-add-time" data-pk="{{item.item.pk}}"><i class="fa fa-clock mr-1"></i>Añadir tiempos</button>
  <button class="mr-2 btn-lg btn btn-outline-success" data-toggle="collapse" data-target="#item{{item.item.pk}}-notes-form"><i class="far fa-sticky-note mr-1"></i>Notas de la prenda</button>
  <button class="mr-1 btn-lg btn btn-outline-success js-queue" data-action="tb-complete" data-pk="{{item.pk}}">
    <i class="far fa-check pl-1"></i> Completar
  </button>
</div>
<div class="collapse my-2" id="item{{item.item.pk}}-notes-form">
  <form class="js-crud-form my-4" method="post" action="{% url 'orderitems-CRUD' %}">
    {% csrf_token %}
    <textarea name="description" rows="3" class="form-control" id="id_description" required>{{item.item.description}}</textarea>
    <input type="hidden" name="pk" value="{{item.item.pk}}">
    <input type="hidden" id="js-action-{{item.item.pk}}" name="action" value="edit-notes">
    <div class="d-flex justify-content-end my-2">
      <button type="submit" class="btn btn-lg btn-outline-success mr-2 js-submit">
        <i class="fas fa-check mr-1"></i>Aceptar
      </button>
    </div>
    <div class="col-auto d-none js-bg-working">
      <i class="far fa-spinner fa-spin"></i> Procesando, ten paciencia.
    </div>
    <div class="d-flex js-errors"></div>
  </form>
</div>
