<div class="d-flex flex-column mt-5">
  <div class="d-flex justify-content-between mb-5">
    <a href="{%url 'add_hours'%}">
      <h3 class="pqueue-text">Cola de producción</h3>
      <button class="btn-lg btn btn-outline-success" data-action="tb-complete" data-pk="{{item.pk}}">
        <i class="far fa-sign-out-alt pl-1"></i>Acabar jornada
      </button>
    </a>
  </div>

  <!-- Active queue -->
  {% if active %}
    {% for item in active %}
      <div class="border rounded mr-4 my-1 p-3">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-column justify-content-center">
            <strong>Pedido nº {{item.item.reference.pk}}: {{item.item.reference.customer.name}}</strong>
            <p>
              {%include 'includes/item_string.html'%}
            </p>
          </div>

          <div class="d-flex align-items-center">
            <button class="mr-1 btn btn-lg btn-outline-success" data-toggle="collapse" data-target="#item-details-{{item.pk}}" aria-expanded="false" aria-controls="#item-details-{{item.pk}}">
              <i class="far fa-eye pl-1"></i> Ver
            </button>
          </div>
        </div>
        <div class="collapse" id="item-details-{{item.pk}}">
          {% include 'includes/pqueue_element_details.html'%}
        </div>
      </div>
    {% endfor %}
  {% else %}
  <div class="d-flex mt-5 mb-3 justify-content-center">
    <i class="fal fa-{{i_relax}} fa-5x"></i>
  </div>
  <div class="d-flex justify-content-center">
    <h3 class="text-center">Genial!<br>has terminado por hoy!</h3>
  </div>
  {%endif%}

  <!-- Separator -->
  <div class="my-5" style="border-bottom: 1px solid lightgrey;"></div>

  <!-- Completed queue -->
  <div class="d-flex justify-content-center mt-5">
    <button class="btn btn-lg btn-outline-success" type="button" data-toggle="collapse" data-target="#produced-items">
      <i class="fal fa-clipboard-list-check pr-1"></i> Ver prendas producidas
    </button>
  </div>
  <div class="collapse mt-3" id="produced-items">
    {% if completed %}
      {% for item in completed %}
        <div class="border rounded mr-4 my-1 p-2">
          <div class="d-flex justify-content-between">
            <p>
              {%include 'includes/item_string.html'%}
            </p>
            <div class="d-flex">
              <button class="mr-1 btn btn-lg btn-outline-success js-queue" data-action="tb-uncomplete" data-pk="{{item.pk}}">
                <i class="fal fa-upload"></i>
              </button>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="justify-content-center text-center mt-4">
        <i class="fal fa-forklift fa-5x"></i>
        <h3 class="pqueue-text">Oops, parece que no hay nada producido!</h3>
        <p class="pqueue-text">Habrá que ponerse a trabajar, no?</p>
      </div>
    {%endif%}
  </div>
</div>
