{% comment %}
Render the tabs for the stock manager.

This is the dynamic element for AJAX updates when filtering and editing the stock.
{% endcomment %}

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#p1-items" role="tab">
      <i class="fal fa-flask-poison pr-2"></i>Urgentes<span class="ml-1 badge badge-info">{{tab_elements.p1.count}}</span>
      </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#p2-items" role="tab">
      <i class="fal fa-ambulance pr-2"></i>
      Cortos
      <span class="ml-1 badge badge-info">{{tab_elements.p2.count}}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#p3-items" role="tab">
      <i class="fal fa-thumbs-up pr-2"></i>
      Bien
      <span class="ml-1 badge badge-info">{{tab_elements.p3.count}}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#negative-items" role="tab">
      <i class="fal fa-ghost pr-2"></i>
      Stock sin ventas
      <span class="ml-1 badge badge-info">{{tab_elements.negative.count}}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#zero-items" role="tab">
      <i class="fal fa-coffin pr-2"></i>
      Ni ventas ni stock <span class="ml-1 badge badge-info">{{tab_elements.zero.count}}</span>
    </a>
  </li>
</ul>

{# Tab content #}
<div class="tab-content">
  {% for id, content in tab_elements.items %}
  <div class="tab-pane {% if forloop.first %}show active{% endif %}" id="{{id}}-items" role="tabpanel">
    {% if content %}
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Prenda</th>
          <th scope="col">Totales</th>
          <th scope="col">12 meses</th>
          <th scope="col">Stock</th>
          <th scope="col">Salud</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in content %}
        <tr>
          <td class="d-flex">{{item.html_string}}</td>
          <td>{{item.total_sales}}</td>
          <td>{{item.year_sales}}</td>
          <td id="stock-{{item.pk}}">{{item.stocked}}</td>
          <td>{{item.health}}</td>
          <td>
            <button class="mr-auto btn btn-sm btn-outline-success js-crud-load" action="{% url 'items-CRUD' %}" data="item_pk={{item.pk}}&action=edit-stock">
              <i class="far fa-edit"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      {% if id == 'p1' %}
        <div class="d-flex flex-column justify-content-center mt-5">
          <h2 class="text-center"><i class="fad fa-flask-poison fa-2x"></i></h2>
          <h2 class="text-center">Genial!<br>No hay prendas urgentes de producir</h2>
        </div>
      {% elif id == 'p2' %}
        <div class="d-flex flex-column justify-content-center mt-5">
          <h2 class="text-center"><i class="fad fa-ambulance fa-2x"></i></h2>
          <h2 class="text-center">No andamos cortos de nada,<br> pero no te confies</h2>
        </div>
      {% elif id == 'p3' %}
        <div class="d-flex flex-column justify-content-center mt-5">
          <h2 class="text-center"><i class="fad fa-bug fa-2x"></i></h2>
          <h2 class="text-center">Oops<br>Esta lista debería estar llena<br>Llama al servicio técnico.</h2>
          <h5 class="text-center">Que seguro que pasa algo</h5>
        </div>
      {% elif id == 'negative' %}
        <div class="d-flex flex-column justify-content-center mt-5">
          <h2 class="text-center"><i class="fad fa-star fa-2x"></i></h2>
          <h2 class="text-center">Wow<br>Esto es eficiencia!</h2>
        </div>
      {% else %}
        <div class="d-flex flex-column justify-content-center mt-5">
          <h2 class="text-center"><i class="fad fa-vacuum fa-2x"></i></h2>
          <h2 class="text-center">Fantástico!<br>Todo está limpio y recogido.</h2>
        </div>
      {% endif %}
    {% endif %}
  </div>
  {% endfor %}
</div>
