<h3>Ticket</h3>
{%if not invoiced%}
  {%if not items%}
    <div class="justify-content-center text-center">
      <h1><i class="fal fa-file-invoice-dollar"></i></h1>
      <h3>Ésta es la vista del ticket</h3>
      <p>Añade prendas desde la izquierda.<br>Cuando hayas acabado pincha en facturar</p>
    </div>
  {%else%}
    {%for item in items%}
    <div class="d-flex">
      <div class="">
        {%include 'includes/item_string.html'%}<br>
        {{item.qty}} x {{item.price}}€ = {{item.subtotal}}€
      </div>
      <div class="ml-auto">
        {%include 'includes/action_buttons.html'%}
      </div>
    </div>
    {%endfor%}
    <div class="d-flex justify-content-end">
      <strong>Total:</strong>&nbsp;{{order.total}}€
    </div>
    <div class="d-flex justify-content-between">

        <button class="mr-1 mt-1 btn btn-outline-success" data-toggle="collapse" data-target="#add-cp">
          {%if order.customer.cp == 0%}
            <i class="fa fa-map-marker-plus"></i><br>
            Añadir CP
          {%else%}
            <i class="far fa-map-marker-smile"></i><br>
            {{order.customer.cp}}
          {%endif%}
        </button>
      <button class="mr-1 mt-1 btn btn-outline-success" data-toggle="collapse" data-target="#convert">
        <i class="fa fa-exchange"></i><br>Convertir
      </button>
      <button class="mr-1 mt-1 btn btn-outline-success {%if total.total != 0%}js-crud-add{%endif%}" data-action="ticket-to-invoice" data-pk="{{order.pk}}" {%if total.total == 0%}disabled{%endif%}>
        <i class="fa fa-vote-yea"></i><br>Facturar
      </button>
    </div>
    <div class="collapse" id="add-cp">
      <form class="mt-2" action="{%url 'order_express' order.pk%}" method="post">
        {%csrf_token%}
        <div class="form-group">
          <input class="form-control" type="number" name="cp" value={{order.customer.cp}}>
        </div>
        <button class="btn btn-outline-success" type="submit">
          {%if order.customer.cp == 0%}Añadir CP{%else%}Cambiar CP{%endif%}
        </button>
      </form>
    </div>
    <div class="collapse" id="convert">
      <form class="mt-2" action="{%url 'order_express' order.pk%}" method="post">
        {%csrf_token%}
        <div class="form-group">
          <select class="form-control" name="customer">
            {%for customer in customers%}
              <option value="{{customer.pk}}">{{customer.name}}</option>
            {%endfor%}
          </select>
        </div>
        <button class="btn btn-outline-success" type="submit">
          Convertir en pedido regular
        </button>
      </form>
    </div>
  {%endif%}
{%else%}
  <div class="justify-content-center text-center">
    <h1><i class="fal fa-file-invoice-dollar"></i></h1>
    <h3>Ya está facturado</h3>
    <p>Como sabes, las facturas no se pueden editar.</p>
    <a href="{% url 'invoiceslist'%}">
      <button class="mr-1 mt-1 btn btn-outline-success" >
        Ver factura.
      </button>
    </a>
  </div>
{%endif%}
