<div class="card mt-4">
      <div class="card-header">
        <div class="row px-2">
          <h4 class="font-weight-bold mr-auto">
            Tiempos Registrados:
            {% if total_time %}
              {{total_time}}
            {% endif %}
          </h4>
          <button class="ml-2 btn btn-outline-success js-time-add" data-action="time-from-order" data-pk="{{order.pk}}" id="time-add"><i class="fa fa-clock-o"></i> Añadir tiempo</button>
        </div>
      </div>
      <div class="card-body order_details">
        {% if times %}
        <table class="table">
        <thead>
          <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Tiempo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for time in times %}
          <tr>
            <th scope="row">
              {{time.qty}} {{time.get_activity_display}} {{time.get_item_display}} {{time.get_item_class_display}}
              {% if time.notes %}
              <i class="fa fa-edit px-1"></i>
              {% endif %}
            </th>
            <th>{{time.output}}</th>
            <th>
              <button class="ml-2 mr-3 btn btn-outline-success js-time-edit" data-action="order-edit-time" data-pk="{{time.pk}}"><i class="fa fa-edit"></i> Editar</button>
              <button class="ml-2 mr-3 btn btn-outline-danger js-time-delete" data-action="time-delete" data-pk="{{time.pk}}"><i class="fa fa-trash"></i> Eliminar</button>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
        {% else %}
        <div class="d-flex">
          <div class="alert alert-info" role="alert">
            <i class="fa fa-info mr-2"></i>
            No se ha añadido ningún tiempo aún.
          </div>
        </div>
        {% endif %}
      </div>
    </div>
