{% extends "tz/base.html" %}
{% block homeview %}
    <section id="search" class="f-section">
      <div class="container-fluid">
        <div class="d-flex my-4">
          <div class="mx-auto">
            <form class="form-inline">
              <input class="form-control" type="search" placeholder="Buscar Pedido" aria-label="Buscar">
              <button class="btn btn-outline-success my-2 my-sm-0 mx-sm-2" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section id="last_orders">
      <div class="container-fluid">
        <div class="d-flex justify-content-center">
          <div class="ordersbox p-4 my-2">
            <!-- <span class="d-block"></span> -->
            <h3><i class="fa fa-star fa-pull-left"></i>5 pedidos activos</h3>
            <p>Pulsa para mostralos</p>
          </div>
        </div>
      </div>
    </section>
    <section id="last_commets">
      <div class="container-fluid">
        <div class="d-flex justify-content-center">
          <div class="commentsbox p-4 my-2">
            <h3><i class="fa fa-envelope fa-pull-left"></i>2 mensajes sin leer</h3>
            <p>Pulsa para mostralos</p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
{% block footer %}{% endblock %}
